.faded {
  background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,1));
}

.shade {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

/* .bg-image {
  background-image: url('../resources/images/bg.jpg');
} */

.lobster {
	font-family : 'Lobster', sans-serif !important;
}
.opensans {
  font-family : 'Open Sans', sans-serif !important;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.scrolllist {
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.curve {
  border-radius: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controlledpadding {
  padding-top: 45px !important;
  padding-bottom: 35px !important;
}

.backtotop {
  z-index: 1;
  opacity: 0;
  position: fixed;
  border-radius: 50% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 30px;
  right: 30px;
}
.btnvis {
  opacity: 1;
}

.mobileSpace {
  /* margin-top: -100px; */
  /* height: 70vh; */
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.centreright {
  text-align: center;
}

.deviconajs {
  font-size: 400%;
}

.sidebar {
  position: fixed;
  margin-top: 10vh;
  margin-left: 30px;
  height: 100vh;
  background: none;
}

@media (min-width: 576px) {
  .mobileSpace {
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  .centreright {
    text-align: right;
  }
}

.text-as {
  color: #343a40 !important;
}

.darkModeOn{
  color: #18191A !important;
}

.text-lseg {
  color: #806734 !important;
}

.bg-lseg {
  background-color: #806734 !important;
}

.text-mgs {
  color: #002a5c !important;
}

.bg-mgs {
  background-color: #002a5c !important;
}

.text-kcl {
  color: #ed0101 !important;
}

.text-google {
  color: #3162AD !important;
}

.text-insherpa {
  color: #4489F2 !important;
}

.text-jh {
  color: #1F386B !important;
}

.text-uc {
  color: #CC9901 !important;
}

.bg-kcl {
  background-color: #ed0101 !important;
}

.text-joblab {
  color: #0091d1 !important;
}

.bg-joblab {
  background-color: #0091d1 !important;
}

.text-nota {
  color: #B20000 !important;
}

.bg-nota {
  background-color: #B20000 !important;
}

.text-hud {
  color: #d1912a !important;
}

.bg-hud {
  background-color: #d1912a !important;
}

.text-theme {
  color: #8b2a24 !important;
}

a.text-theme:focus, a.text-theme:hover {
  color: #671a14 !important;
}

.btn-theme {
  color: #fff;
  background-color: #8b2a24;
}

.btn-theme:hover {
  color: #fff;
  text-decoration: none;
  background-color: #720B01;
}

.btn-theme:focus, .btn-theme.focus {
  box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.5);
}

.btn-theme.disabled, .btn-theme:disabled {
  background-color: #007bff;
}

.btn-theme:active, .btn-theme.active,
.show > .btn-theme.dropdown-toggle {
  color: #fff;
  background-color: #720B01;
  background-image: none;
}

.text-git {
  color: #6e5494 !important;
}

a.text-git:focus, a.text-git:hover {
  color: #4e3464 !important;
}


.story {
  font-size: 1.1rem;
}


/* TIMELINE code -- modified from Clay Larson's original code: https://codepen.io/cjl750*/

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
}
.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}
.input {
  width: 25px;
  height: 25px;
  background-color: #8b2a24;
  position: relative;
  border-radius: 50%;
}
.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #a2544f;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
.input::before {
  left: calc(-4vw + 12.5px);
}
.input::after {
  right: calc(-4vw + 12.5px);
}
.input.active {
  background-color: #8b2a24;
}
.input.active::before {
  background-color: #a2544f;
}
.input.active::after {
  background-color: #a2544f;
}
.input.active span {
  font-weight: 700;
  color: #8b2a24;
}
.input.active span::before {
  font-size: 13px;
}
.input.active span::after {
  font-size: 15px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #aaa;
}
.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}
.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 14px;
}
.input span::before {
  content: attr(data-info);
  top: -65px;
  width: 70px;
  transform: translateX(-5px) rotateZ(-45deg);
  font-size: 12px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
}
.description-flex-container p {
  margin-top: 0;
  display: none;
}
.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }

  .input::after {
    right: -37.5px;
  }
}
@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}
@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #8b2a24;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}